/*Nav Bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/*Header*/

.headerTop {
    text-align:center;
    background-image: url('images/tuscany-villas-sant-anna.jpg');
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 198px;
    margin: 0px;

}

#relax {
    margin-bottom: 5.31px;
}

.secondTop {
    padding-right:0px;
    padding-left:0px;

}

.locationHeading {
    text-align: center;
    /*color: white;*/
    margin-top: 40px;
}

.locationPlace {
    text-align: center;
    /*color: white;*/
}

/* Location One */
#location1 {
    /*margin: 10px;*/
    padding:100px;
}

#location2 {
    padding:100px;
}

#location3 {
    padding:100px;
}