/*Nav Bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #565A82;
    font-family: 'Cinzel', serif;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #565A82;
}


/*Header*/
.headerTop {
    text-align:center;
    color: white;
    background-image: url('images/tuscany-villas-sant-anna.jpg');
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 218px;
    margin: 0px;
}

#TV {
    font-size: 55px;

}

#relax {
    margin-bottom: 5.31px;
    margin-top: 10px;
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
}

.secondTop {
    padding-right:0px;
    padding-left:0px;

}




/* Starting Location*/
.locationHeading {
    background-color: #565A82;
    text-align: center;
    color: white;
    padding-top: 40px;
    
}

#firstLocationHead {
    margin-bottom: 0px;
}

#secondLocationHead {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 35px;
}

/* Three Locations */
#location1 {
    margin: 10px;
    padding:100px;
    padding-bottom: 40px;
    padding-top: 40px;
}


.firstImage {
    padding-top: 40px;
}

#location2 {
    background-color: #565A82;
    margin: 10px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 100px;
    padding-bottom: 40px;
    padding-top: 40px;
}

#location3 {
    margin: 10px;
    padding:100px;
    /*padding-bottom: 30px;*/
    padding-bottom: 40px;
    padding-top: 40px;
}




/* Ammenities */
.ammenitiesHeading {
    text-align: center;
    background-color: #565A82;
    color: white;
    padding-bottom: 25px;
    padding-top: 25px;
}

#ammenitiesPad {
    margin: 0px;
    padding:10px;
    /*padding-bottom: 40px;*/
    padding-top: 40px;

}

#occasion {
    text-align:center;
    margin: 0px;
    padding:10px;
    /*padding-bottom: 40px;*/
    padding-top: 40px;
}

#ammenitiesPad2 {
    margin: 0px;
    padding:10px;
    /*padding-bottom: 40px;*/
    padding-top: 40px;
}


#apart {
    text-align:center;
    margin: 0px;
    padding:10px;
    /*padding-bottom: 40px;*/
    padding-top: 40px;
}

#ammenitiesPad3 {
    margin: 0px;
    padding:10px;
    /*padding-bottom: 40px;*/
    padding-top: 40px;
}

#staff {
    text-align:center;
    margin: 0px;
    padding:10px;
    /*padding-bottom: 40px;*/
    padding-top: 40px;
}

#ammenitiesPad4 {
    margin: 0px;
    padding:10px;
    /*padding-bottom: 40px;*/
    padding-top: 40px;
}

#bookVille {
    text-align:center;
    margin: 0px;
    padding:10px;
    /*padding-bottom: 40px;*/
    padding-top: 40px;
}


#ammenitiesPad5 {
    margin: 0px;
    padding:10px;
    /*padding-bottom: 40px;*/
    padding-top: 40px;
}




/* Review */
.reviewHeading {
    text-align:center;
    background-color: #565A82;
}

/* Carousel */

.getHeight {
    height: 200px;
}



/* Contact */
.contactHeading {
    text-align: center;
    background-color: #565A82;
}


/* Footer */
.footerHeading {
    text-align: center;
    background-color: #565A82;
}

#contactMode {
    margin: 0px;
    padding:10px;
    /*padding-bottom: 40px;*/
    padding-top: 50px;

}

.contactMode2 {
    margin: 0px;
    padding:10px;
    /*padding-bottom: 40px;*/
    padding-top: 50px;
}