/*Nav Bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #565A82;
    font-family: 'Cinzel', serif;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #565A82;
}


/*Header*/
.headerTop {
    text-align:center;
    color: white;
    background-image: url('images/tuscany-villas-sant-anna.jpg');
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 218px;
    margin: 0px;
}

#TV {
    font-size: 55px;
}

#relax {
    margin-bottom: 5.31px;
    margin-top: 10px;
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
}

.secondTop {
    padding-right:0px;
    padding-left:0px;

}
