/*Nav Bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #393454;
    font-family: 'Cinzel', serif;
}

li {
    float: right;
}

li a {
    display: block;
    color: #FAFAF5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #393454;
}


/*Header*/
.headerTop {
    text-align:center;
    color: #FAFAF5;
    background-image: url('images/tuscany-villas-sant-anna.jpg');
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 218px;
    margin: 0px;
}

#TV {
    font-size: 55px;

}

#relax {
    margin-bottom: 5.31px;
    margin-top: 10px;
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
}

.secondTop {
    padding-right:0px;
    padding-left:0px;

}




/* Starting Location*/
.locationHeading {
    background-color: #393454;
    text-align: center;
    color: #FAFAF5;
    padding-top: 40px;
    
}

#firstLocationHead {
    margin-bottom: 0px;
}

#secondLocationHead {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 35px;
    color: #FAFAF5;
}

/* Three Locations */
#location1 {
    margin: 10px;
    padding:100px;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    color: #393454;
}

.locationOneSection {
    margin-top: 45px;
    color: #393454;
}

.firstImage {
    padding-top: 40px;
}

#location2 {
    background-color: #393454;
    margin: 10px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 100px;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    color: #FAFAF5;
}

.locationTwoSection {
    color: #FAFAF5;
}

#location3 {
    margin: 10px;
    padding:100px;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    color: #393454;
}




/* Ammenities */
.ammenitiesHeading {
    text-align: center;
    background-color: #393454;
    color: #FAFAF5;
    padding-bottom: 25px;
    padding-top: 25px;
    margin-bottom: 0px;

}

#firstAmmenitiesHead {
    margin-bottom: 0px;
}

#secondAmmenitiesHead {
    margin-top: 0px;
    color: #FAFAF5;
}

#ammenitiesPad {
    margin: 0px;
    padding:10px;
    /*padding-bottom: 40px;*/
    padding-top: 40px;

}


#occasion {
    text-align:center;
    margin: 0px;
    padding:10px;
    /*padding-bottom: 40px;*/
    padding-top: 40px;
    color: #393454;
}

#ammenitiesPad2 {
    margin: 0px;
    padding:10px;
    /*padding-bottom: 40px;*/
    padding-top: 40px;
}


#apart {
    text-align:center;
    margin: 0px;
    padding:10px;
    /*padding-bottom: 40px;*/
    padding-top: 40px;
    color: #393454;
}

#ammenitiesPad3 {
    margin: 0px;
    padding:10px;
    /*padding-bottom: 40px;*/
    padding-top: 40px;
}

#staff {
    text-align:center;
    margin: 0px;
    padding:10px;
    /*padding-bottom: 40px;*/
    padding-top: 40px;
    color: #393454;
}

#ammenitiesPad4 {
    margin: 0px;
    padding:10px;
    /*padding-bottom: 40px;*/
    padding-top: 40px;
    padding-bottom:40px;
}

#bookVille {
    text-align:center;
    margin: 0px;
    padding:10px;
    /*padding-bottom: 40px;*/
    padding-top: 40px;
    color: #393454;
}

#parVille {
    text-align: center;
    color: #393454;
}

#ammenitiesPad5 {
    margin: 0px;
    padding:10px;
    /*padding-bottom: 40px;*/
    padding-top: 40px;
    padding-bottom: 40px;
}




/* Review */
.reviewHeading {
    text-align:center;
    background-color: #393454;
    color: #FAFAF5;
    padding-bottom: 25px;
    padding-top: 25px;
    margin-bottom: 0px;
    width: 100%;
    color: #393454;
}

#firstReviewHead {
    margin-bottom:0px;
}

#secondReviewHead {
    margin-top: 0px;
    color: #FAFAF5;
}



/* Carousel */

.carPad {
    padding-left: 0px;
    padding-right: 0px;
}

.getHeight {
    height: 250px;

}

#firstSlide {
    text-align: center;
}

#firstPerson {
    text-align: center;
}


/* Contact */
.contactHeading {
    text-align: center;
    background-color: #393454;
    color: #FAFAF5;
    padding-bottom: 25px;
    padding-top: 25px;
    margin-bottom: 0px;
}

#firstContactHead {
    margin-bottom: 0px;
}

#secondContactHead {
    margin-top: 0px;
    color: #FAFAF5;
}


#contactMode {
    margin: 0px;
    padding:10px;
    /*padding-bottom: 40px;*/
    padding-top: 50px;

}

.contactMode2 {
    margin: 0px;
    padding:10px;
    /*padding-bottom: 40px;*/
    padding-top: 50px;
}




/* Footer */
.footerHeading {
    text-align: center;
    background-color: #393454;
    color: #FAFAF5;
    padding-bottom: 35px;
    padding-top: 35px;
    margin-bottom: 0px;
}

#secondFooter {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #FAFAF5;
}

#thirdFooter {
    margin-top: 0px;
    color: #FAFAF5;
}




/* Buttons */
#button1 {
    background-color: #393454;
    color: #FAFAF5;
}
#button2 {
    color: #393454;
}

#button3 {
    background-color: #393454;
    color: #FAFAF5;
}

#button4 {
    background-color: #393454;
    color: #FAFAF5;
}

#button5 {
    background-color: #393454;
    color: #FAFAF5;
}

#button6 {
    background-color: #393454;
    color: #FAFAF5;
}

#button7 {
    background-color: #393454;
    color: #FAFAF5;
    height:30px; 
    width: 100px; 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;
}

#button8 {
    background-color: #393454;
    color: #FAFAF5;
}